.aboutmain1{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    padding: 100px 0 100px 190px;
    display: flex;
    justify-content: space-between;
}
.aboutmain3{
    border: 2px solid gold;
    padding: 20px;
    margin: 40px;
    border-radius: 15px;
}